# Первичный анализ данных из БД

In [2]:
import psycopg2
import pandas as pd

In [3]:
HOST = 'ep-green-butterfly-a26qo6f3.eu-central-1.aws.neon.tech'
PORT = 5432
DATABASE = 'datadb'
USER = 'datadb_owner'
PASSWORD = 'BmV3l0GArdNT'

In [4]:
connection = psycopg2.connect(
    host = HOST,
    port = PORT,
    database = DATABASE,
    user = USER,
    password = PASSWORD,
)

In [5]:
connection

In [6]:
cursor = connection.cursor()
query = """select * from cd.inflation"""
cursor.execute(query)
data = cursor.fetchall()
cursor.close()
InfDf = pd.DataFrame(data, columns = ['infid', 'inflation', 'data'])

In [7]:
InfDf

     infid inflation       data
0        0     28.93 2000-01-01
1        1     25.11 2000-02-01
2        2     22.49 2000-03-01
3        3     19.95 2000-04-01
4        4     19.40 2000-05-01
..     ...       ...        ...
140    140      3.05 2019-01-01
141    141      4.91 2020-01-01
142    142      8.39 2021-01-01
143    143     11.92 2022-01-01
144    144      7.42 2023-01-01

[145 rows x 3 columns]

## Цель:
1. Вывести инфляцию в виде графика
2. Вывести рост зарплат по профессиям (сделать категорию)
3. Вывести в один график зарплату и инфляцию

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
cursor = connection.cursor()
query = """select to_char(i.infdata, 'YYYY') as year, round(avg(i.inflation), 2) as inflation 
from cd.inflation i 
group by to_char(i.infdata, 'YYYY')
order by to_char(i.infdata, 'YYYY');"""
cursor.execute(query)
data = cursor.fetchall()
cursor.close()
InfDf = pd.DataFrame(data, columns = ['year', 'inflation'])

In [13]:
InfDf

    year inflation
0   2000     20.97
1   2001     21.57
2   2002     15.84
3   2003     13.69
4   2004     10.88
5   2005     12.71
6   2006      9.69
7   2007      8.99
8   2008     14.10
9   2009     11.70
10  2010      6.85
11  2011      6.10
12  2012      6.58
13  2013      6.45
14  2014     11.36
15  2015     12.91
16  2016      5.38
17  2017      2.52
18  2018      4.27
19  2019      3.05
20  2020      4.91
21  2021      8.39
22  2022     11.92
23  2023      7.42